/* === MAIN === */
* {
  box-sizing: border-box;
}

body{
  text-align: center;
}

img {
  width: 750px;
}

ul {
  list-style: none;
}

.top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main {
  text-align: center;
}

input {
  width: 590px;
  height: 50px;
  border-radius: 50px;
}



footer {
  background-color: #f2f2f2;

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottom-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
